<ion-view title="Produto" id="page12">
    <ion-content padding="true" class="has-header">
      <div class="list card">
          <div class="item item-divider">Categoria</div>
          <div class="item item-body">
              <ion-list>
                  <ion-item class="item-thumbnail-left">
                      <img>
                      <h2>Produto</h2>
                      <p>Item sfdf scsdfafdad asdfsdfsadfasdfasdfsafasdfsafasfasfsafdsadfasfdasfafdasf</p>
                  </ion-item>
                  <label class="item item-select">
                      <span class="input-label">Select</span>
                      <select></select>
                  </label>
                  <label class="item item-select">
                      <span class="input-label">Select</span>
                      <select></select>
                  </label>
                  <label class="item item-select">
                      <span class="input-label">Select</span>
                      <select></select>
                  </label>
              </ion-list>
              <div class="button-bar">
                  <button id="produtos-button1" class="button button-dark  button-block icon ion-images"></button>
                  <button id="produtos-button2" class="button button-dark  button-block icon ion-android-share-alt"></button>
                  <button id="produtos-button3" class="button button-dark  button-block icon ion-android-cart"></button>
              </div>
          </div>
      </div>
    </ion-content>
</ion-view>
